<footer>
    <div id="logo">
        <a href="/"><img class="logo" src="/img/tastetaft_text.svg" alt="logo" id="logo"></a>
    </div>
    <div id="copyright">Copyright © 2024 CCAPDEV TasteTaft Group</div>
    <a href="#about">About</a>
    <a href="#team">Team</a>
    <a href="#contact">Contact</a>
    <a href="#donate">Donate</a>
</footer>