<div class="container">

  <div class="card hero">
    <div class="card-content-hero">
      <h1>Discover Taft's Culinary Gifts with Ease!</h1>
      <p>
        Welcome to TasteTaft, your go-to web application for exploring the
        diverse dining options around De La Salle University Manila. Say goodbye
        to the dilemma of choosing where to eat – we've designed TasteTaft to
        make your decision-making process enjoyable and stress-free.
      </p>
    </div>

  </div>

  <a class="cta start" href="/restos">
    <button>Get Started</button>
  </a>

  <hr />

  <div class="feature-container">

    <div class="title">
      <h3>Key Features:</h3>
    </div>

    <div class="features">

      <div class="card feature">
        <div class="card-content">
          <img
            class="feature-img"
            src="/img/Rectangle 1.png"
 
          />
          <h2>Random Roulette Excitement</h2>
          <p>Hit the "TasteTrek" button and let our unique roulette feature
            suggest a random restaurant for you. Embrace the spontaneity and add
            a dash of excitement to your dining adventures!
          </p>

        </div>
      </div>

      <div class="card feature">
        <div class="card-content">
          <img
            class="feature-img"
            src="/img/Rectangle 2.png"

          />
          <h2>Tailored Reviews for Taft</h2>
          <p>Our community-driven platform thrives on reviews from students and
            locals who know the Taft area best. Get honest insights and
            recommendations that match your preferences.
          </p>
        </div>
      </div>

      <div class="card feature">
        <div class="card-content">
          <img
            class="feature-img"
            src="/img/Rectangle 3.png"

          />
          <h2>Filter and Find</h2>
          <p>Looking for a specific cuisine or service? Use our intuitive
            filters to narrow down your options. Whether it's a cozy café, a
            quick bite, or a study-friendly spot, we've got you covered.
          </p>
        </div>
      </div>

    </div>
  </div>
</div>