    <div id="tastetrek-container">
      <img id="main-image" src="img/Kahitsaanlogo 1.png" />
      <div id="trektext">
        <h1>Embark on a Culinary Adventure with TasteTrek!</h1>
        <p>
          Get ready for a unique and exciting dining experience with TasteTrek:
          the game-changer in your culinary exploration around De La Salle
          University Manila. TasteTrek is not just a feature; it's an invitation
          to embrace spontaneity and add a dash of excitement to your dining
          decisions.
        </p>
        <form action="/tastetrek/randomresto">
          <input type="submit" id="trekbutton" title="Suggest a Random Restaurant" value="TasteTrek"/>
        </form>
        
      </div>
    </div>