header {
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    width: 100%;
    height: 70px;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    min-height: 100px;
    background-color: #97eb02;
    color: #000;
    border-radius: 30px 30px 0 0;
    margin-top: auto;
    padding: 0 50px;
    position: relative;
    bottom: 0;
}

nav {
    height: 100%;
    width: auto;
}

#usertag {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.username {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -1px;
    margin-right: 10px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

.username:hover {
    color: #97eb02;
}

.usericon-header {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    flex-shrink: 0;
    float: right;
    cursor: pointer;
    border: 1px solid #9e9e9e;
}

.dropdown-content {
    display: none; 
}

.drop-down:hover .dropdown-content {
    display: flex;
    position: absolute;
    top: 32px;
    margin-top: 5px;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(231, 231, 231);
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    border-top: 5px solid #97eb02;
    
}

.dropdown-content:hover {
    display: block;
    
}

.dropdown-content li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    padding-bottom: 10px;
}

.dropdown-content a {
    transition: all 0.3s ease 0s;
}

.dropdown-content a:hover {
    color: #97eb02;
}

#left-nav {
    position: relative;
    display: flex;
    width: 20%;
    min-height: 100%;
}

.drop-down {
    position: absolute;
    width: 100%;
    height: 40px;
}

.search-icon {
    display: flex;
    background-image: url("/img/search-icon.svg");
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
    z-index: 1;
    transition: all 0.3s ease 0s;
}

.search-icon:hover {
    display: flex;
    background-image: url("/img/search-icon-black.svg");
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
    z-index: 1;
    cursor: pointer;
    transform: scale(1.05);
}

.search-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 70%;
    min-height: 100%;
    border-radius: 15px;
    background-color: #dadada;
    margin: 0;
    margin-right: 20px;
}

.search-box button {
    text-decoration: none;
    background-color: transparent;
    height: 20px;
    width: 20px;
    padding: 0;
    margin: 0 0 0 10px;
}

.search-text {
    height: 100%;
    width: 80%;
    outline: none;
    border: none;
    background-color: transparent;
    margin-left: 5%;
    font-size: 20px;
}

.search-text::placeholder {
    font-family: 'Montserrat', sans-serif;
    color: var(--secondary-color);
    font-size: 20px;
    padding: 0;
    margin: 0;

}

.search-form {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}