@import url('https://fonts.googleapis.com/css?family=Montserrat:500');



/*gab code*/
.container 
{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: center;
	height: 100%;
	width: 100%;
	margin-top: 100px;
	padding: 0 50px;
	margin-bottom: 50px;
}

.reviewlist-full {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 1200px;
	margin: 0 15px;
	background-color: #D9D9D9;
	border-radius: 35px;
	padding-bottom: 20px;
	height: auto;
	padding: 20px;
  }
  

.account-panel
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 619px;
	min-width: 289px;
	width: 289px;
	border-radius: 40px;
	background-color: rgb(217, 217, 217);
}



.review-panel
{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	height: 619px;
	width: 70%;
	border-radius: 40px;
	background-color: rgb(217, 217, 217);
	margin: 0 15px;
}

.profileimg
{
	height: 175px;
	width: 175px;
	border-radius: 100px;
	border-style: solid;
	border-width: 5px;
	border-color: rgb(151, 235, 2);
}

.account-text-container
{
	width: 80%;
	display: block;
}

.info-line1
{
	margin-top: 10px;
	margin-bottom: 10px;
}

.comment
{
	align-self: center;
	height: 30%;
	min-height: 120px;
	width: 90%;
	border-radius: 40px;
	background-color: rgb(228, 228, 228);
	margin-top: 5px;
	margin-bottom: 10px;
	margin-left: 5px;
	margin-right: 5px;
}

.usericon-comment
{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-top: 10px;
	margin-left: 10px;
	flex-shrink: 0;
	float: left;
	cursor: pointer; 
	border: 1px solid #9e9e9e;
}

.review-text-container
{
	display: flex;
	flex-direction: column;
	height: 100%;
	min-height: 500px;
	width: 100%;
	border-radius: 40px;
	background-color: rgb(217, 217, 217);
	margin-left: 5px;
	margin-right: 5px;
}

.full-comment
{
	align-self: center;
	height: 30%;
	min-height: 170px;
	width: 90%;
	border-radius: 40px;
	background-color: rgb(228, 228, 228);
	margin-top: 5px;
	margin-bottom: 10px;
	margin-left: 5px;
	margin-right: 5px;
}

.donate-button
{
	height: 50px;
	width: 100%;
	border-radius: 40px;
	margin-top: 2.5%;
	margin-bottom: 2.5%;
	font-size: 32px;
	background-color: #EBE702;
	border: none;
	transition-duration: 0.4s;
}

.donate-button:hover 
{
	border: 5px solid rgb(151, 235, 2);
	background-color: rgb(217, 217, 217);
}

.logout-button
{
	height: 50px;
	width: 100%;
	border-radius: 40px;
	margin-top: 2.5%;
	margin-bottom: 2.5%;
	font-size: 32px;
	color: white;
	background-color: rgb(240, 103, 103);
	border: none;
	transition-duration: 0.4s;
}

.logout-button:hover 
{
	border: 5px solid rgb(240, 103, 103);
	background-color: rgb(217, 217, 217);
	color: #000000;
}

.credentials
{
	margin-top: 2.5%; 
	margin-left: 5%;
	padding-left: 15px;
	padding-right: 15px;
	height: 62px;
	min-height: 50px;
	width: 50%;
	border: none;
	border-radius: 40px;
	font-size: 16px;
}

.description
{
	margin-top: 2.5%; 
	margin-left: 5%;
	padding-left: 15px;
	padding-right: 15px;
	height: 60%;
	min-height: 100px;
	width: 80%;
	border: none;
	border-radius: 40px;
	font-size: 16px;
}

.edit-button
{
	align-self: flex-end;
	height: 50px;
	min-height: 75px;
	width: 40%;
	border-radius: 40px;
	margin-top: 2.5%;
	margin-bottom: 2.5%;
	margin-right: 5%;
	font-size: 32px;
	background-color: rgb(151, 235, 2);
	border: none;
	transition-duration: 0.4s;
}

.edit-button:hover 
{
	border: 5px solid rgb(151, 235, 2);
	background-color: rgb(217, 217, 217);
}

.actions{
	gap: 10px;
}

.actions-container{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}