@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

:root {
  --primary-color: #97EB02;
  --secondary-color: #000;
  --tertiary-color: #fff;
  --quaternary-color: #EBE702;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  padding: 0% 20%;
  padding-top: 0%;
  color: #000;
  background-color: #fff;
  min-height: 100vh;
}

li, a, button{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
}

nav{
  display: flex;
  flex-direction: row;
}

.search-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 30px;
  border-radius: 10px;
  background-color: #dadada;
  margin: 15px;
}

.search-box a {
  text-decoration: none;
  height: 20px;
  width: 20px;
}

.search-text {
  height: 100%;
  width: 80%;
  outline: none;
  border: none;
  background-color: transparent;
  margin-left: 10px;
  font-size: 20px;
}

.search-text::placeholder {
  font-family: 'Montserrat', sans-serif;
  color: #9e9e9e;
  font-size: 20px;
  padding: 0;
  margin: 0;

}

.logo {
  width: 100px;
  height: 100px;
    position: relative;
    height: auto;
    cursor: pointer;
    z-index: 0;
}

.nav_links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 35%;
  margin: auto;
}

.nav_links li {
  padding: 0 10px;
}

.nav_links a {
  position: relative;
  transition: all 0.3s ease 0s;
}

.nav_links a:hover {
  color: #97EB02;
}


button {
  border: none;
  border-radius: 10px;
  padding: 0 30px;
  margin: 5px;
  width: 150px;
  height: 30px;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

div{
  display: flex;
  align-items: center;
  justify-content: center;
}

.register button{
  background-color: #EBE702; 
}

button:hover {
  background-color: rgba(151, 235, 2, 0.5);
}

.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-left: 5px;
  margin-right: 5px;
  padding: 20px;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
}

.card:hover {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.feature{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 530px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 20px;
  background-color: #E4E4E4;
  border-radius: 34px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;

}


.hero {
  display: flex;
  flex-direction: row;
  width: 1200px;
  height: 360px;
  background-color: #97EB02;
}




@keyframes rotateImage {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


hr {
  width: 100%;
  height: 1px;
  background-color: #000;

}

.feature-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 0 30px;
  width: 100%;
  height: 100%;
}

.features {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  grid-gap: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 100%;
  height: 100%;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .features {
    grid-template-columns: repeat(2, 1fr); /* Change to a 2-column layout for smaller screens */
  }
}

@media (max-width: 480px) {
  .features {
    grid-template-columns: 1fr; /* Change to a single column layout for even smaller screens */
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 100px;
  padding: 0 50px;
}


.card-content {
  display: flex;
  flex-direction: column;
  /* margin-top: 200px; */
}

.card-content-hero {
  margin: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title{
  font-size: 20px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
}

.start button{
  font-size: 30px;
  font-weight: 700;
  height: auto;
  width: 300px;
  background-color: #EBE702;
  padding: 5% 5%;
  border-radius: 40px;
  cursor: pointer;
  transform: translate(0%, -50%);
  transition: all 0.3s ease 0s;
}


.start button:hover {
  background-color: #ffffff;
  box-shadow: 0 0 20px rgb(229, 255, 0);
}

h1 {
  font-size: 64px;
  font-weight: 700;
  
}

h2 {
  font-size: 18px;
  font-weight: 700;
  margin-top: 20px;
}

p {
  font-size: 14px;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 30px;
}



